################
# Global rules #
################

*.pyc
*.pyo
*.log

##########
# Images #
##########

examples/example*/*.pdf
examples/example*/*.jpg
examples/example*/*.png

#########
# Other #
#########

src/MANIFEST
src/build
doc/build/_build/
